<a href="https://colab.research.google.com/github/Tharick15/Python-Studies/blob/main/Estudos_Basicos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estudos básicos em Python

Considerando a seguinte lista:

In [ ]:
lista = [98, 2, 29, 8, 98, 10, 3, 98, -4, 9, 10, 98]

#### Usando as funções apresentadas, faça de maneira dinâmica os seguintes exercícios:

Imprimindo a soma do maior e o menor elemento da lista:

In [ ]:
print (max(lista) + min(lista))

94

Imprimindo o número de ocorrências do maior elemento da lista:

In [ ]:
print (lista.count(max(lista)))

4

Imprimindo o elemento no meio da lista usando as funções apresentadas em sala:

In [ ]:
if len(lista)%2 == 0:
  print("O numero de elementos da lista é par e os elementos do meio são:", lista[int ((len(lista)/2)-1)], "e" , lista[int (len(lista)/2)])
else:
  print("O numero de elementos da lista é impar e o elemento do meio é:", lista[int ((len(lista)/2)-1)])

O numero de elementos da lista é par e os elementos do meio são: 10 e 3

Imprimindo o maior elemento da lista elevado ao quadrado:

In [ ]:
print (max(lista)**2)

9604

Criando uma lista com todos os números pares de 0 até 1000.

In [ ]:
list(range(0,1001,2))

Criando uma lista com todos os números ímpares de 0 até 10.000.

In [ ]:
list(range(1,10001,2))

Imprimindo o valor da média de todos os elementos da lista.

In [ ]:
print (sum(lista)/len(lista))

38.25

Criando 3 tuplas para representar as informações de alunos em uma disciplina, cada tupla deverá conter o nome do aluno seguido de suas duas notas.

In [ ]:
aluno_1 = ("Carlos" , 10 , 8 )
aluno_2 = ("Ana", 9 , 5)
aluno_3 = ("Vitor", 6 , 10)

Imprimindo a soma das notas de cada aluno do exercício 8, use as variáveis criadas por você:

In [ ]:
print("a soma das notas do",aluno_1[0] , "é:", sum(aluno_1[1:]))
print("a soma das notas do",aluno_2[0] , "é:", sum(aluno_2[1:]))
print("a soma das notas do",aluno_3[0] , "é:", sum(aluno_3[1:]))

a soma das notas do Carlos é: 18
a soma das notas do Ana é: 14
a soma das notas do Vitor é: 16

Imprimindo o nome e a maior nota de cada aluno do exercício 8, use as variáveis criadas por você:

In [ ]:
print("a maior nota do",aluno_1[0] , "é:", max(aluno_1[1:]))
print("a maior nota do",aluno_2[0] , "é:", max(aluno_2[1:]))
print("a maior nota do",aluno_3[0] , "é:", max(aluno_3[1:]))

a maior nota do Carlos é: 10
a maior nota do Ana é: 9
a maior nota do Vitor é: 10

Construindo um dicionário para armazenar as notas de 5 alunos

In [ ]:
notas_alunos = {"Mario" : 5 , "Joana" : 10 , "José" : 8, "Marcos" : 7 , "Carlos" : 3 }

Usando o dicionário criado para imprimir o valor da maior nota

In [ ]:
print (max(notas_alunos.values()))

10

Sabendo que A = {0, 1, 2, 3, 4, 5, 6}, B = {6, 7, 8, 9} e C = {2, 4, 6, 8, 10}, quais são os elementos do conjunto (A∩B)UC?

In [ ]:
A = {0, 1, 2, 3, 4, 5, 6}
B = {6, 7, 8, 9}
C = {2, 4, 6, 8, 10}

(A.intersection(B)).union(C)

{2, 4, 6, 8, 10}

Solicitando que o usuário informe 4 valores inteiros, adiciondo-os em um conjunto e imprimindo o valor do somatório dos elementos do conjunto.

In [ ]:
conjuntoSet = set()

while len(conjuntoSet) < 4 :
  try:
    numero = int(input("insira um valor:"))
    conjuntoSet.add(numero)
  except ValueError :
    print("Por favor, insira apenas valores inteiros :-)")

print("o conjunto criado foi", conjuntoSet , " e a soma dos elementos foi", sum(conjuntoSet))

insira um valor:1
insira um valor:1
insira um valor:1
insira um valor:1
insira um valor:1
insira um valor:1
insira um valor:
Por favor, insira apenas valores inteiros :-)
insira um valor:1
insira um valor:2
insira um valor:5
insira um valor:8
o conjunto criado foi {8, 1, 2, 5}  e a soma dos elementos foi 16